### Variables and arrays, lists

In [1]:
import numpy as np

In [2]:
bag_price = 2.4
profit_margin = 0.2
ice_cream = 4.99

In [3]:
total = bag_price + profit_margin + ice_cream
type(total)

float

In [4]:
print('Total price of your shopping cart is:', int(total))

Total price of your shopping cart is: 7

* asdfdf
* asdf 
1. asdfdf
2. asdfd 

## None
The none type includes a single value **None**, used to indicate the absence of a value. **None** has the type **NoneType**. It is often used to declare a variable whose value may be assigned later

In [5]:
new_variable = "asdf", "fdfdsa", 'asdfdsf', "fdfsd", "asdf."

In [6]:
list(new_variable)

['asdf', 'fdfdsa', 'asdfdsf', 'fdfsd', 'asdf.']

In [7]:
weekday= "saturday"

In [8]:
weekday[2:4]

'tu'

In [9]:
weekday[:4]

'satu'

In [10]:
'sa' in weekday

True

In [11]:
"as" in weekday

False

In [12]:
weekday.capitalize()

'Saturday'

In [13]:
weekday.upper()

'SATURDAY'

In [14]:
weekday

'saturday'

In [15]:
weekend = "SUNDAY"

In [16]:
weekend.lower()

'sunday'

In [17]:
different_sentence = "something written on stone"
addition = "one two three"
full_sentence = different_sentence + " " + addition.upper()

In [18]:
full_sentence

'something written on stone ONE TWO THREE'

The **replace()** method is used to replace a part of the string with another string. It takes tke portion to be replaced and the replacement text as **inputs** or **arguments**.

In [19]:
modified_sentence = different_sentence.replace("something", "Numbers")

In [20]:
modified_sentence

'Numbers written on stone'

In [21]:
modified_sentence[:7].upper()

'NUMBERS'

The **split()** method can be used to split a string into a list of strings based using the characters provided.

In [22]:
modified_sentence.split(" ")

['Numbers', 'written', 'on', 'stone']

The **strip()** method is used to remove whitespaces characters from the beginning and end of a string

In [23]:
sentence_with_spaces = "      akjskdjkfls fjkdlskdjf fjdklskdjf.b          "

In [24]:
sentence_with_spaces.strip()

'akjskdjkfls fjkdlskdjf fjdklskdjf.b'

The *format()* method is used to combine values of other data types such as integers, floats, booleans, lists and others with strings. It is often used to create output messages for display.

In [25]:
# Input variables:
cost_of_ice_bag = 1.25
profit_margin= .2
number_of_bags = 500
total_profit= cost_of_ice_bag * profit_margin * number_of_bags

# template for output message:
output_template = "If a grocery store sells ice bags at $ {} per bag. with a profit margin of {} %, the total profit it makes by selling {} ice bags is $ {}. "
print(output_template)

If a grocery store sells ice bags at $ {} per bag. with a profit margin of {} %, the total profit it makes by selling {} ice bags is $ {}.

In [26]:
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)
print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag. with a profit margin of 20.0 %, the total profit it makes by selling 500 ice bags is $ 125.0.

## Lists

In [27]:
fruits = ["apple", "orange", "blueberry"]

In [28]:
type(fruits)

list

In [29]:
print("there are", len(fruits), "fruits in the list" )

there are 3 fruits in the list

In [30]:
fruits[2]

'blueberry'

To get the last element of the list can use "-1" as index

In [31]:
print("The last fruit in the list is", fruits[-1])

The last fruit in the list is blueberry

In [32]:
list_of_various_elements = [1,2,3,["a",8, "second array", '4th element'], 'first array', 'last element in the 1st array']

In [33]:
list_of_various_elements[2:4]

[3, ['a', 8, 'second array', '4th element']]

In [34]:
list_of_various_elements[3][-2]

'second array'

In [35]:
list_of_various_elements[4:]

['first array', 'last element in the 1st array']

**modifying lists**

In [36]:
list_of_various_elements[1]="second element"

In [37]:
list_of_various_elements

[1,
 'second element',
 3,
 ['a', 8, 'second array', '4th element'],
 'first array',
 'last element in the 1st array']

A new value can be added **to the end** of a list using the **append()** method

In [38]:
list_of_various_elements.append(987)

In [39]:
list_of_various_elements

[1,
 'second element',
 3,
 ['a', 8, 'second array', '4th element'],
 'first array',
 'last element in the 1st array',
 987]

A new value can also be inserted a specific index using the **insert()** method

In [40]:
list_of_various_elements.insert(2, "inserted element")

In [41]:
list_of_various_elements

[1,
 'second element',
 'inserted element',
 3,
 ['a', 8, 'second array', '4th element'],
 'first array',
 'last element in the 1st array',
 987]

A value can be removed from the list with **remove()** method

In [42]:
list_of_various_elements.remove("inserted element")

In [43]:
list_of_various_elements

[1,
 'second element',
 3,
 ['a', 8, 'second array', '4th element'],
 'first array',
 'last element in the 1st array',
 987]

**pop()** method removes element from a specifix index. This method also returns the removed element. If index is not provided the **pop()** method removes the last element in the list

In [44]:
list_of_various_elements.pop(4)

'first array'

To combine several lists use **+** operator. This operation is also called **concatenation** (sujungimas) .

In [45]:
combined_lists = list_of_various_elements + fruits + [["new list", "element of", "combined lists"]]

In [46]:
combined_lists

[1,
 'second element',
 3,
 ['a', 8, 'second array', '4th element'],
 'last element in the 1st array',
 987,
 'apple',
 'orange',
 'blueberry',
 ['new list', 'element of', 'combined lists']]

To create **a copy** of a list, use the **copy()** method. Modifying the copied list does not affect the original list.

In [47]:
copy_of_combined_list = combined_lists.copy()

In [48]:
copy_of_combined_list

[1,
 'second element',
 3,
 ['a', 8, 'second array', '4th element'],
 'last element in the 1st array',
 987,
 'apple',
 'orange',
 'blueberry',
 ['new list', 'element of', 'combined lists']]

In [49]:
copy_of_combined_list.remove("last element in the 1st array")

In [50]:
copy_of_combined_list

[1,
 'second element',
 3,
 ['a', 8, 'second array', '4th element'],
 987,
 'apple',
 'orange',
 'blueberry',
 ['new list', 'element of', 'combined lists']]

In [51]:
w3schoolLists = list((1,3,2,4,"fifth element"))

In [52]:
w3schoolLists

[1, 3, 2, 4, 'fifth element']

There are some other useful methods to change lists: 
*  **clear()** method removes ALL the elements from the list
*  **count()** method returns the number of elements with the specified value
*  **reverse()** - reverses the order of the list
*  **sort()** - sorts the list ascending by default. Can make a function to decide the sorting criteria.

In [53]:
w3schoolLists.reverse()

In [54]:
w3schoolLists

['fifth element', 4, 2, 3, 1]

In [55]:
w3schoolLists.remove("fifth element")

In [56]:
w3schoolLists.sort()

In [57]:
w3schoolLists

[1, 2, 3, 4]

In [58]:
w3schoolLists.sort(reverse=True)

In [59]:
w3schoolLists

[4, 3, 2, 1]

In [60]:
def myFunc(abc):
  return abc['car']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

In [61]:
cars

[{'car': 'BMW', 'year': 2019},
 {'car': 'Ford', 'year': 2005},
 {'car': 'Mitsubishi', 'year': 2000},
 {'car': 'VW', 'year': 2011}]

In [62]:
x=w3schoolLists.count(3)

In [63]:
x

1

In [64]:
w3schoolLists.clear()

In [65]:
w3schoolLists

[]

In [66]:
copy_of_combined_list

[1,
 'second element',
 3,
 ['a', 8, 'second array', '4th element'],
 987,
 'apple',
 'orange',
 'blueberry',
 ['new list', 'element of', 'combined lists']]

In [67]:
copy_of_combined_list[2:4] = "that's new element", "and another one"

In [68]:
copy_of_combined_list

[1,
 'second element',
 "that's new element",
 'and another one',
 987,
 'apple',
 'orange',
 'blueberry',
 ['new list', 'element of', 'combined lists']]

The length of the list will change when the number of items inserted does not match the number of items replaced

In [71]:
copy_of_combined_list[3:5]=[12,45,78]

In [72]:
copy_of_combined_list

[1,
 'second element',
 "that's new element",
 12,
 45,
 78,
 'apple',
 'orange',
 'blueberry',
 ['new list', 'element of', 'combined lists']]

In [76]:
list_of_lists=copy_of_combined_list.copy()

In [83]:
w3schoolLists.insert(0,"w3school list array")

**extend()** method does not have to append *lists*, can add any object(tuples,sets,dictionaries and etc.)

In [85]:
list_of_lists.extend(w3schoolLists)

In [86]:
list_of_lists

[1,
 'second element',
 "that's new element",
 12,
 45,
 78,
 'apple',
 'orange',
 'blueberry',
 ['new list', 'element of', 'combined lists'],
 'w3school list array']

**Tuples**

Tuples is a collection which is ordered and unchangeable. Cannot be added or removed elements. Can be checked or duplicate. To created a tuple with one item, you have to add a comma after the item.

In [91]:
tuple_with_one_item = ("one item",)

In [93]:
type(tuple_with_one_item)

tuple

In [92]:
tuple_with_one_item_no_comma = ("no comma")

In [94]:
type(tuple_with_one_item_no_comma)

str

In [87]:
created_tuple = (12,"tuple element")

In [88]:
list_of_lists.extend(created_tuple)

In [89]:
list_of_lists

[1,
 'second element',
 "that's new element",
 12,
 45,
 78,
 'apple',
 'orange',
 'blueberry',
 ['new list', 'element of', 'combined lists'],
 'w3school list array',
 12,
 'tuple element']

##### Changing Tuples

Can convert tuple into a list, change the list, and convert the list back into a tuple.

In [95]:
list_from_tuple= list(created_tuple)
list_from_tuple.extend(list_of_lists)

In [96]:
new_tuple_list= tuple(list_from_tuple)

In [97]:
type(new_tuple_list)

tuple

In [98]:
new_tuple_list

(12,
 'tuple element',
 1,
 'second element',
 "that's new element",
 12,
 45,
 78,
 'apple',
 'orange',
 'blueberry',
 ['new list', 'element of', 'combined lists'],
 'w3school list array',
 12,
 'tuple element')

Allowed to **add** tuple **to** tuple:

In [99]:
second_tuple = ("second","tuple",[1,2,3])
new_tuple_list += second_tuple

In [100]:
new_tuple_list

(12,
 'tuple element',
 1,
 'second element',
 "that's new element",
 12,
 45,
 78,
 'apple',
 'orange',
 'blueberry',
 ['new list', 'element of', 'combined lists'],
 'w3school list array',
 12,
 'tuple element',
 'second',
 'tuple',
 [1, 2, 3])

#### Dictionaries

Dictionaries are used to store data values in key: value pairs. They are changeable and **do not allow duplicates** with the same **keys**

In [101]:
first_dictionary = {
    "brand": "Subaru",
    "model": "Impreza",
    "Year": 2007
}

In [105]:
first_dictionary["Year"]

2007

In [106]:
first_dictionary["color"] = "black"
first_dictionary

{'brand': 'Subaru', 'model': 'Impreza', 'Year': 2007, 'color': 'black'}